/* ============================
   DESIGN TOKENS
============================ */

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;

    --container-max: 75rem;

    --font-title:"KronaOne", sans-serif;
    --font-body: "MontSerrat", sans-serif;

    --radius-lg: 0.5rem;
}

/* ============================
   FONTES
============================ */

@font-face {
    font-family: "MontSerrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "MontSerrat";
    src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "KronaOne";
    src: url("./fonts/KronaOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}


/* ============================
   RESET
============================ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    /* height: 100vh;     */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font-body);
    position: relative;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;
    margin: 0 auto;
    max-width: var(--container-max);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    padding: 5rem 5rem;
}

.cabecalho__menu__link {
    color: #22D4FD;
    text-decoration: none;
    &:hover {
        transform: translateY(-2px);
    }
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: 4rem;
}

.container-conteudo {
    flex: 1;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.titulo-conteudo {
    font-size: 2.25rem;
    font-family: var(--font-title);
    text-align: center;
}

.titulo-destaque {
    color: #22D4FD;
}

.texto-conteudo {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.imagem-eu {
    flex: 1;
    max-width: 31.25rem;
    width: 100%;
    display: block;
    height: auto;
    max-height: 31.25rem;
    object-fit: contain;
}

.container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.subtitulo-links {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1,5rem;
}

.botao-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    font-size: 1.5rem;
    max-width: 378px;
    width: 100%;
    height: 79px;
    text-decoration: none;
    border-radius: var(--radius-lg);
    padding: 21.5px 0;
    font-family: var(--font-body);
    font-weight: 600;
    transition: background-color 0.3 ease, transform 0.2 ease;
    &:hover {
        background-color: #272727;
        transform: translateY(-2px);
    }
}

.rodape {
    width: 100%;
    padding: 1.5rem;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}


/* ============================
   TABLET
============================ */

@media (max-width: 1024px) {

    main {
        display: flex;
        flex-direction: column;
        max-width: 25rem;
        align-items: center;
        padding: 2rem 1rem;
    }

    .botao-links {
        width: 100%;
        max-width: 25rem;
        height: auto;
    }

    .imagem-eu {
        display: block;
        width: 100%;
        max-width: 25rem;
        height: auto;
    }

    .rodape {
        width: 100%;
    }
}
